.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.title {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.category {
    display: flex;
    padding: 20px;
    font-size: 1em;
    color: #00b5ad;
    border: 1px #00b5ad solid;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    max-width: 600px;
    width: 120px;
    height: 120px;
    transition: 0.4s ease;
}

.category:hover {
    color: #fff;
    background: #00b5ad;
}